

/* this file contains style of button */


.button-container {
    margin-top: 10px;
    display: flex;

}

.button-style {
    height: 40px;
    width: 60px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px ;
    /* background-image: url("/assets/ironmanchibi.jpg"); */
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer; */
}