
/* this page file contains style of container of characters */

.characters-container {
    margin-top: 20px;
    border: 2px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.characters-row {
    display: flex;
    margin-bottom: 10px;
}

.characters {
    height: 200px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


.img-style {
    width: 200px;
    height: 170px;
}

.about-hero {
    width: 200px;
    height: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.hero-name {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: auto;
}


.fav-icon {
    height: 30px;
    width: 30px;
    margin-left: auto;
}