
/* this file contains style of nav bar */

.navigation {
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.marvel-logo {
    height: 80px;
    width: 200px;
}

.text-style {
    letter-spacing: 3px;
    cursor: pointer;
    color: black;
}

.text-style:hover {
    border: 1px solid white;
}