.navigation {
    height: 80px;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marvel-logo {
    height: 80px;
    width: 200px;
}

.text-style {
    letter-spacing: 3px;
    cursor: pointer;
}

.text-style:hover {
    border: 1px solid white;
}